.fixed-background{
    background-image: url('https://i.ibb.co/mzBq8k8/thomas-william-OAVqa8h-Qv-WI-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}